{% extends 'layout/base.html' %} {% load static %} {% block header %}
<link rel="stylesheet" href="{% static 'css/index.css'%}" />
<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"
></script>
{% endblock %} {% block body %}

<div class="outer-container">
  <h1 class="title">All Bike Rentals</h1>

  <div
    class="infinite-scroll"
    data-mdb-infinite-direction="y"
    data-mdb-infinite-container="infinite-scroll-basic"
  >
    <ul
      class="loading container list-group infinite-scroll infinite-scroll-basic"
      id="basic-example"
      style="max-height: 40rem; overflow-y: scroll"
    >
      {% for bike in all_bikes %}
      <a href="/show/{{bike.id}}" class="item-container">
        <div class="card">
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ bike.image_url}}" class="item-image"/>
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <div class="card-title">{{bike.model}} {{bike.brand}}</div>
                <p class="card-text">{{bike.description|slice:":200"}}...</p>
                <p class="card-text">Rate: ${{bike.price}}/day</p>
                <p class="card-text lead-sm">
                  Posted by: {{bike.original_owner}}
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 5min ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>

      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
