.footer-container {
    background-color: #f3f1f2;

    padding-top: 2rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 0.9rem;
}

.footer-info {
    display: flex;
    flex-direction: row;
}

.footer-info-item {
    margin-right: 1rem;
}

.footer-info-about-us {
    color: inherit;
}