.hero-image {
  height: 36rem;
  width: 100%;

  padding-top: 1rem;
  margin: 6rem 0 8.5rem 0;

  background: url("/static/img/home_pic.jpg") no-repeat center;
  object-fit: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.hero-image {
  padding-top: 0.3rem;
}

.hero-image-text-container {
  width: 100%;
  height: 3rem;

  position: absolute;
  top: 0.5rem;

  color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);

  font-size: 1.65rem;
  font-weight: 500;
  text-align: center;

  display: flex;
  flex-direction: row;
  align-items: start;

  /* Note: This prevents text from rotating across entire width  */
  overflow: hidden;
}

.hero-image-text-1 {
  white-space: nowrap;
  opacity: 0;

  -moz-animation: end-animation-1 40s linear infinite;
  -webkit-animation: end-animation-1 40s linear infinite;
  animation: end-animation-1 40s linear infinite;
}

@keyframes end-animation-1 {
  from {
    opacity: 1;
    -moz-transform: translateX(62%);
    -webkit-transform: translateX(62%);
    transform: translateX(62%);
  }
  to {
    opacity: 1;
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.explore-button-container {
  white-space: nowrap;
}

.explore-button-container a {
  font-size: 1.7rem;
}

.features-container {
  margin-bottom: 6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .features-container {
    flex-direction: row;
  }

  .explore-button-container {
    margin-right: 7rem;
    margin-bottom: 14rem;
    white-space: nowrap;
  }

  .hero-image {
    justify-content: end;
  }
}

.features-container li {
  width: 300px;

  margin: 0 2rem;

  text-align: center;
  list-style: none;
}

.features-container p {
  text-align: center;
  width: 85%;
  line-height: 1.5rem;
}

#feature-1 img,
#feature-2 img,
#feature-3 img {
  width: 16rem;
  height: 16rem;
  margin-bottom: 1rem;
}

#feature-3 img {
  margin-top: -2rem;
}

.primary-content {
  margin-bottom: 8rem;

  /* background-color: #f8fafa; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.primary-content h3 {
  display: block;
  margin: 0 auto 2rem auto;
  width: 25rem;
  padding: 0 0 2rem 0;
}

.primary-content img {
  margin-top: 1rem;
  width: 0 auto;
}

.primary-content-text div {

  margin-top: -1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-content p {
  line-height: 1.5rem;
  width: 80%;
}

#primary-content-image {
  height: 40rem;
  width: auto;
}

.call-to-action {
  margin-bottom: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-to-action p {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.nav-link.active {
  color: rgba(0, 0, 0, 0.7);
  border-bottom-color: rgba(0, 0, 0, 0.7);
}
